# Built stuff
*.apk
*.ap_
*.dex
*.class
android/TaskTimer/build/

# Local configuration file
local.properties

# IntelliJ/Android Studio project files
.idea
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project
.settings

# Gradle files
.gradle