<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gawdl3y.android.tasktimer"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">

    <!-- Minimum Android version 4.0 -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- The application -->
    <application
        android:name=".TaskTimerApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <!-- The content provider -->
        <provider
            android:name=".data.TaskTimerProvider"
            android:authorities="com.gawdl3y.android.tasktimer.provider"
            android:exported="false" />

        <!-- The main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The settings activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/menu_settings"
            android:excludeFromRecents="true">
        </activity>

        <!-- The receiver -->
        <receiver android:name=".data.TaskTimerReceiver">
            <intent-filter>
                <action android:name="start_app" />
                <action android:name="task_goal_reached" />
            </intent-filter>
        </receiver>

    </application>
</manifest>